@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --custom-gray: #7d7c7c;
  --custom-beige: #ccc8aa;
  --custom-light: #f1efef;
}

/* .bg-1{
    background-color: #F1EFEF;
}
.bg-2{
    background-color: #CCC8AA;
}
.color-3{
    background-color: #7D7C7C;
} */
