<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Account Verification and set password</title>
</head>
<body>
    <main style="">
        <h1>Hi {{username}}</h1>
        <h2>set your password to login</h2>
        <a href={{link}}>
            <button style="background-color: blue; padding: 4px 2px; color: black; margin-top: 2px; font-weight: bold; font-size: 16px; border-radius: 6px: 
            border: 1px solid black">click here</button>
        </a>
        <br/>
        <i style="color: brown;">this link will expire in 1 hour</i>
    </main>
</body>
</html>